<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('head.html') %>
  <title>Reference Table</title>
  <link href='../node_modules/fullcalendar/main.css' rel='stylesheet' />
  <script src='../node_modules/fullcalendar/main.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      });
      calendar.render();
    });
  </script>
</head>

<body>
  <%- include ('navbar.html') %>

  <div id='calendar'></div>

  <div id="gfg">
    <ul>
      <li><a href="#gfg1">1차</a></li>
      <li><a href="#gfg2">2차</a></li>
      <li><a href="#gfg3">3차</a></li>
    </ul>

    <div id="gfg1">
      <%- include ('1차.html') %>
    </div>

    <div id="gfg2">
      <%- include ('2차.html') %>
    </div>
    <div id="gfg3">
      <%- include ('3차.html') %>
    </div>
  </div>

  <%- include ('footer.html') %>
</body>

</html>